.fatherDiv {
  margin-right: 5%;
  margin-top: 3%;
}

.submit {
  padding-bottom: 15px;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.input {
  width: 777px;
  height: 40px;
  border: 2px solid black;
}

/* .submit {
  margin-top: 15px;
  direction: ltr;
} */

.addButton {
  border: 2px solid black;
  /* padding: 10%; */
}

.verticallyCentered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
