.fatherDiv {
  margin-right: 5%;
  margin-top: 3%;
}

.submit {
  padding-bottom: 15px;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.input {
  width: 777px;
  height: 40px;
  border: 2px solid black;
}

/* .submit {
  margin-top: 15px;
  direction: ltr;
} */

.addButton {
  border: 2px solid black;
  /* padding: 10%; */
}

.verticallyCentered {
  position: relative;
  top: 35%;
  transform: translateY(-30%);
}

.rateContainer{
  stroke: #001322;
  stroke-width: 50;
  stroke-linecap: butt;
  stroke-dasharray: 0;
}


.systemsListContainer{
  height: 500px;
  padding: 5px 24px;
  margin-left:5%;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

